<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="false">
        <activity
            android:name=".ShowcaseActivity"
            android:exported="true"
            android:label="@string/showcase_name"
            android:theme="@style/Theme.Basetool">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginPreviewActivity"
            android:exported="true"
            android:label="@string/login_preview_name"
            android:theme="@style/Theme.Basetool">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsPreviewActivity"
            android:exported="true"
            android:label="@string/settings_preview_name"
            android:theme="@style/Theme.Basetool">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.AuthRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="de.kartell.basetool" />
            </intent-filter>
        </activity>
    </application>

</manifest>
